<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29539992337-8m286dh4j10dht6hthb9rg07nfs5427f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29539992337-8m286dh4j10dht6hthb9rg07nfs5427f</string>
	<key>API_KEY</key>
	<string>AIzaSyBaC-wW42W0lMhAX2h24i8NvPYPjOaFWEE</string>
	<key>GCM_SENDER_ID</key>
	<string>29539992337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lorduche.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-43adb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-43adb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29539992337:ios:5eea67545f7c89ed3542b0</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-43adb.firebaseio.com</string>
</dict>
</plist>